body {
  box-sizing: border-box;
}

h2 {
  display: flex;
  justify-content: space-between;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 3px 19px -14px rgba(0, 0, 0, 0.75);
}

.fa {
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: #1f75fe;
}

.btn2 {
  margin: 0;
}
