.main {
  width: 50%;
  margin: 0 auto;
  padding: 0 10px;

  .loading-main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    margin-top: 8em;
  }
}
.btn {
  padding: 5px 18px;
  margin-right: 10px;
  border: none;
  border-radius: 7px;
  color: white;
  background-color: #1f75fe;
  font-size: 18px;
  cursor: pointer;
}
